doctype html
html(lang="ja")
	head
	body
		p Hello World! this is wrote with JADE!
		input(type="text",id="message")
		button(type="button",id="submit") submit
		ul(id="messageList")
		script(type="text/javascript", src="js/lib/jquery-2.1.3.min.js")
		script(type='text/javascript').
			var host = location.origin.replace(/^http/, 'ws')
			var ws = new WebSocket(host);
			// clientごとに振られるid
			var userId;
			// ws受信
			ws.onmessage = function(event) {
				var data = JSON.parse(event.data);
				switch (data.type) {
					// id付与
					case 'userId':
						userId = data.userId;
						break;
					// メッセージ
					case 'message':
						// リスト表示
						var line = ""; 
						line += data.time + ": ";
						line += data.userId + ": ";
						line += data.message;
						$('#messageList').append('<li>' + line + '</li>');
						// 流れる文字
						var screenWidth = document.screen.width;
						var $flowLabel = $('<p>' + line + '</p>');
						$flowLabel.css({
							'top': new Random(),// TODO 書き方
							'left': screenWidth,
							'position': 'absolute'
						});
						$('body').append($flowLabel);
						$flowLabel.animate({'left': -$flowLabel.width()});
						break;
					default:
						break;
				}
			};
			// submitボタン押下
			$('#submit').on('click', function() {
				var message = $('#message').val();
				if (message.length <= 50) {
					ws.send(JSON.stringify({
						type: 'message',
						userId: userId,
						message: message
					}));
				}
			});
