doctype html
html(lang="ja")
	head
		body
			section
				h1 Heroku node.js express websocket jade
				p
					a(href="/chat") チャット
				p
					a(href="/answer") 回答
				p
					a(href="/css3") css3の勉強しなきゃまじやばい
				p
					a(href="/public/view/bbbb") backbonの写経 by Babel